%h5
  - if logged_in?
    %a{ href: '/user' }= %Q(#{current_user})
    %a{ href: '/authorize/reset' }= %q(Logout)
  - else
    %a{ href: '/authorize' } Authorize (GitHub)
    %br
    - if App.development?
      %a{ href: '/authorize/dev' } Authorize (Dev)
