%form{ action: '/search', method: 'post' }
  #search_input
    %input#q{ name: 'q', size: 11, type: 'text', value: '' }
    %input{ type: 'submit', value: 'Sök' }
#navigation_links
  %ul
    %li
      %a{ href: '/' } Förstasidan
    %li
      %a{ href: '/list' } Innehållsförteckning
    %li Senast ändrad
    %li
      %a{ href: '/new' } Skapa ny sida
