%form{ action: '/search', method: 'get' }
  #search_input
    %input#q{ name: 'q', size: 11, type: 'text', value: '' }
    %input{ type: 'submit', value: 'Sök' }
#navigation_links
  %ul
    %li
      %a{ href: '/' } Förstasidan
    %li
      %a{ href: '/list' } Innehållsförteckning
    %li
      %a{ href: '/latest' } Senast ändrad
    - if session[:login]
      %li
        %a{ href: '/new' } Skapa ny sida
