%form{ action: '/search', method: 'get' }
  #search_input
    %input#q{ name: 'q', size: 11, type: 'text', value: '' }
    %input{ type: 'submit', value: 'Sök' }
#navigation_links
  %ul
    %li Förstasidan
    %li
      %a{href: '/list'} Innehållsförteckning
    %li Senast ändrad
    %li
      %a{ href: '/new' } Skapa ny sida
