<%= ajax_messages %>

<% if not @group_permissions.empty?-%>
<%= form_remote_tag \
  :url => {
    :action  => :update_permission,
    :page_id => @page.id,
    :type    => 'group' },
  :update => 'group_permissions' -%>

<table>
  <tr>
    <td><strong>Namn</strong></td>
    <td><strong>Rättighet</strong></td>
    <td><strong>Åtgärd</strong></td>
  </tr>
  <%= render :partial => 'group_permission', :collection => @group_permissions %>
</table>

</form>
<% end -%>
