<%= link_to_if @page.write_by?(@current_user), "Revision #{@page.revision}", revision_history_url(:id => @page) %>, ändrad för <%= @page.updated_on.age_in_swedish_words(:minutes => true) -%> sen av <%= user_show_link(@page.updater) -%>
