<h2>Allmänt</h2>

<p>
  Detta system består av ett antal vanliga sidor och specialsidor.
  Sidor är de objekt som skapas för att lagra information, och specialsidor används för att administrera allt runt om kring dessa, som t.ex. användare och rättigheter.
</p>