<h2>Textformatering</h2>

<p>
För textformatering används Textile, ett enkelt textmarkeringsspråk.
Vanlig HTML-kod går även att använda.
</p>

<h3>Mer information</h3>
<p>
<a href="http://hobix.com/textile/quick.html">Textile Quick Reference</a>
</p>

<p>
<a href="http://hobix.com/textile/">A Textile Reference</a>
</p>
