<div id="confirm_deletion" style="display: none;">
  <p class="extra-margin">
  Är du säker på att du vill radera <strong><%= @user -%></strong>?<br />
  <em>Användaren kommer för alltid försvinna</em>.
  </p>
  <p class="extra-margin">
  <%= link_to('Ja', :action => :delete, :id => @user ) %>
  /
  <%= link_to_function('Nej',
    visual_effect(:toggle_blind, 'confirm_deletion', :duration => 0.3)) %>
  </p>
</div>
