<%= hidden_field :user, :new_password %>

<label class="block" for="user_password">Lösenord</label>
<%= password_field :user, :password, :maxlength => 45, :size => 45 %>
<%= error_message_on @user, :password %>

<label class="block" for="user_password_confirmation">Verifiera lösenordet</label>
<%= password_field :user, :password_confirmation, :maxlength => 45, :size => 45 %>
<%= error_message_on @user, :password_confirmation %>