<div id="confirm_deletion" style="display: none;">
  <p class="extra-margin">
  Är du säker på att du vill radera gruppen <strong><%= @group -%></strong>? <em>gruppen kommer för alltid försvinna</em>.
  </p>
  <p class="extra-margin">
  <%= link_to('Ja', :action => :delete, :id => @group ) %>
  /
  <%= link_to_function('Nej',
    visual_effect(:toggle_blind, 'confirm_deletion', :duration => 0.4)) %>
  </p>

</div>
