<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv" lang="sv">
<head>
	<title>Offigus</title>
	<meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1" />
	<style type="text/css">
		*    { font-size: 100.01%; margin: 0; padding: 0; }
		html { font-size: 62.5%; }
		body { 
			margin: 2em auto 3em 3em;
			font-family: Arial, Verdana; 
			background: #FFF;
			color: #333;
			font-size: 1.4em;
		}

		p { 
			width: 40em;
			line-height: 1.5em; 
			padding: 0.25em 0 0.25em 0;
			margin: 0.25em 0 0.25em 0;
		}

		hr { 
			height: 0.1em;
			background: #CCC;
			color: #CCC;
			border: none; 
			margin: 1.5em;
			width: 25em;
		}

		h1, h2, h3, h4, h5, h6 { 
			padding: 0.2em 0 0.2em 0; 
			margin: 0.2em 0 0.2em 0; 
		}

		h1 { font-size: 3.6em; }
		h2 { font-size: 2.4em; }
		h3 { font-size: 2.1em; }
		h4 { font-size: 1.8em; }

		a {
			color: #000;
			background: #FFF;
			border-bottom: 1px dotted #999;
			text-decoration: none;
		}

		a:hover {
			color: #000;
			background: #FFC;
		}
	</style>
</head>
<body>

	<h2>Underhåll av systemet</h2>

	<p>
	Tyvärr är sidan inte tillgänglig just nu på grund av
	systemunderhåll.
	</p>

	<h2>Snart igång igen</h2>

	<p>
  Underhållet beror på <%= reason -%> och pågår till <%= time -%>
	</p>

	<hr />

</body>
</html>
