%h1 Innehållsförteckning
- @page_groups.each do |char, pages|
  %h2= char
  %ul
    - pages.each do |page|
      %li
        %a{ href: "#{page.slug}" }= page.title
        %span.description= page.description
