name: CI

on:
  push:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - labeled
  schedule:
    - cron:  "0 6 * * 6" # 06:00 every Saturday
  workflow_dispatch:

jobs:
  docker:
    if: |
      github.head_ref == 'main' ||
      (github.event.action == 'labeled' && github.event.label.name == 'docker-test')
    runs-on: ubuntu-latest
    needs: ruby
    steps:
      - uses: actions/checkout@v6
      - run: ./bin/docker-test
  ruby:
    runs-on: ubuntu-latest
    env:
      BUNDLE_LOCAL: 1
    steps:
      - uses: actions/checkout@v6
      - uses: dentarg/postgres@v1
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle exec rake
        env:
          TEST_DATABASE_URL: "${{ env.POSTGRES_URL }}"
