name: Cron

on:
  schedule:
    - cron:  "0 2 * * *" # every day at 02:00
  workflow_dispatch:

jobs:
  preview-psql:
    runs-on: ubuntu-slim
    env:
      PREVIEW_DATABASE_URL: "${{ secrets.PREVIEW_DATABASE_URL }}"
    steps:
      - run: psql --command='SELECT version();' $PREVIEW_DATABASE_URL
