name: Gem Compare

on:
  pull_request:
    types:
      - labeled
      - ready_for_review
  pull_request_target:
    types:
      - opened
      - reopened

permissions:
  contents: read
  pull-requests: write

jobs:
  compare:
    if: |
      startsWith(github.head_ref, 'dependabot/bundler/')) ||
      startsWith(github.head_ref, 'bump-') ||
      contains(github.event.label.name, 'gem-compare')
    runs-on: ubuntu-slim
    steps:
      - uses: dentarg/gem-compare@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
