<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="sv" xml:lang="sv">
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<title><%=h page_title -%></title>
  <%= stylesheet_link_tag "default" %>
  <%= stylesheet_link_tag "print" %>
</head>
<body>
	<div id="logo">
		<%= render :partial => 'layouts/logo' %>
	</div>
	<div id="content">
		<%= yield :layout %>
	</div>
</body>
</html>
